/******************************************************************************
 * ADOBE SYSTEMS INCORPORATED
 * Copyright 2014 Adobe Systems Incorporated
 * All Rights Reserved.
 *
 * NOTICE:  Adobe permits you to use, modify, and distribute this file in accordance with the
 * terms of the Adobe license agreement accompanying it.  If you have received this file from a
 * source other than Adobe, then your use, modification, or distribution of it requires the prior
 * written permission of Adobe.
 *****************************************************************************/

.find_button_align .guideFieldWidget {
	width: 100%;
}

@media (min-width: 1200px) {
	.ok_button_align {
        padding-left: 84%;
    }
}

@media (min-width: 991px) and (max-width: 1199px) {
	.ok_button_align {
        padding-left: 82%;
    }
}

@media (min-width: 991px) {
    .find_button_align {
        padding-left: 31%;
    }
}
